
.outer{
    height: auto;
    width: 500px;
    background-color:#b5e48cb6;
    margin: 2px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}
.image img{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title h1{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    padding: 5px 0;
}
.title button{
    font-size: 25px;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px auto;
    cursor: pointer;
    background-color: #8d0801;
    color: #b5e48c;
    transition: all ease-in-out 0.2s;
}
.title button:active{
    transform: scale(0.9);
}
@media (max-width:700px) {
    .outer{
        width: 40vw;
    }
    .title h1{
        font-size: 15px;
    }
    .title button{
        font-size: 15px;
    }
    
}