.logo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}
.cont{
    display: flex;
    background-color: #b5e48c;
    color: #8d0801;
    justify-content: center;
    align-items: center;
    height: 140px;
}
.title{
    position: relative;
    font-size: 50px;
    margin:30px;
    font-weight: 900;
}
.title::after{
    position: absolute;
    content: "";
    background-color: #8d0801;
    height: 5px;
    width: 0%;
    left: 0;
    bottom: 0;
    transition: all ease-in 0.5s;
}
.title:hover::after{
    width: 100%;
    transition: all ease-out 0.5s;
}

@media (max-width : 600px ) {
    .cont{
        justify-content: flex-start;
    }
    .title{
        font-size: 25px;
    }
    .logo{
        margin-left: 25px;
    }
}
